<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="http://www.ciens.ucv.ve/portalasig2/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preload" href="{{ url_for('static', filename='conf/configES.json') }}" as="fetch" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <title>ATI[UCV] 2024-1</title>
</head>
<body>
    <main class="listado">
        <header>
            <nav>
                <ul>
                    <li id="curso"></li>
                    <li></li>
                    <li>
                        <form>
                            <input type="text" name="barra-busqueda">
                            <button type="submit"></button>
                        </form> 
                    </li>
                </ul>
            </nav>
        </header>
        <hr>
        <section class="perfiles__section">
            <ul>

            </ul>
        </section>
        <hr>
        <footer>
            
        </footer>
    </main>
</body>
</html>